%div{:class => 'well centered'}
  %h1 Tickets
  %br
  #tabs
    %ul
      %li
        = link_to "All tickets", raw(url_for(:controller => 'admin', :action => 'tickets_list_partial', :page => params[:page], :id => 0))
      -TicketStatus.all.each do |status|
        %li
          = link_to status.title, raw(url_for(:controller => 'admin', :action => 'tickets_list_partial', :page => params[:page], :id => status.id))


:javascript
  $(document).ready( function () {
    $("#tabs").tabs();

  } );