@import "dataTables/jquery.dataTables";
@import "dataTables/extras/dataTables.tableTools";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "jquery-ui/dialog";
@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "jquery-ui/tabs";

.centered, .centered-top{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.centered {
    top: 50%;
}

.centered-top {
    top: 15% !important;
}

.ui-widget {
  font-size: 1em !important;
}